.video-type{
    padding: 1em;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    //-webkit-perspective: 1000;
    box-shadow: 0 0 20px red;
    //border-radius: 10px;
    .title{
        &:hover{
            color: rgba($color: #25d614, $alpha: 1.0);
            cursor: pointer;
        }
    }
    
    .clicked{
        color: rgba($color: #6e14d6, $alpha: 1.0);
        
    }
}