@import '../app.scss';

.calc-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    .header{
        @include question;
        font-size: 1.1rem;
    }
    .result{
        @include question;
        color: $selected-font-color;
        padding-top: 0;
        font-size: 1.1rem;
    }
    .loading{
        padding: 0.5rem;
        font-style: italic;
    }
}